.header{
    position: relative;
    display: inline-block;
    margin: 4% 10% 0 5%;
}
.header h1{
    margin-bottom: 30px;
    color: #333;
    font-size: 30px;
    font-weight: bolder;
}
hr{
    width: 50%;
}
.header h4{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6rem;
    font-style: italic;
    font-weight: 400;
}
.arrow{
    position: absolute;
    color: #555;
    font-size: 30px;
    left: -50px;
    top: -17px;
    font-size: 25px;
    margin: 20px auto;
    transform: transform 0.4s ease;
}
.arrow:hover{
    animation: bounce 0.5s;
}
@keyframes bounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
  }
.answer_container{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    width: 80%;
    margin-top: 60px;
}
.answer_container h1{
    text-align: center;
}
.answer_container hr{
    width: auto;
}
.answers_section{
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    max-height: auto;
    overflow-y: auto;
    padding: 10px;
}
.answers_section::-webkit-scrollbar{
    width: 6px;
}
.answer_card{
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
    border-bottom: 1px solid #eee;
    overflow: auto;
}
.user {
    position: relative;
    padding-left: 30px;
    width: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-left: -50px;
}
.answer{
    position: absolute;
    left: 15%;
    width: auto;
    height: auto;
    min-height: 25px;
    box-sizing: border-box;
}
.answer p{
    margin: 0;
}
.answers_section p{
    padding: 10px 0;
    color: #333;
    text-align: center;
    font-style: italic;
}
.answer_input_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.noquestion{
    font-size: 30px;
    font-weight: 800;
}
textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
}
textarea:focus{
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}
.answer_input_container .btn{
    /* cursor: pointer; */
    margin-top: 10px;
    padding: 10px;
    width: 30%;
    font-size: 14px;
}
.btn:active{
    background-color: #3e8e41;

}