.header_container {
    width: 100%;
    background-color: #c0c0c0;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.inner_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}
.inner_container a img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: auto;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
}
.nav a{
    position: absolute;
    left: 50%;
    align-items: center;
}
.right_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: auto;
    background-color: #007bff;
}
.right_section :nth-child(1){
    position: absolute;
    margin-right: 18%;
}
a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

a:hover {
    color: #007bff;
}

/* Responsive design for smaller screens */
@media (max-width: 1024px) {
    .nav a{
        display: none;
    }
    

    .right_section {
        width: 100%;
        justify-content: flex-end; 
    }
}
