.section{
    display: flex;
    min-height: 100vh;
    /* color: #fff; */
}
.left_side{
    position: relative;
    background-image: url(../../img/background.jpg);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 20px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.left_side div h3{
    position: absolute;
    top: 8px;
    left: 70px;
    font-size: 30px;
    color: #FFF5E1;
    margin-bottom: 30px;
}
.left_side .dot{
    display: inline-block;
    color: #1DE9B6;
    font-size: 50px;
}
.about{
    min-height: 40vh;
    position: relative;
    top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(60, 60, 60, 0.4); 
    border-radius: 10px;
    margin: 50px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6em;
    color: #1c1c1c;
    gap: 120px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 5);
}
.about h3{
    font-size: 28px;
    font-style: italic;
    text-align: start;
    left: 15px;
    margin: 10px 0 20px;  
    margin-bottom: 40px;
}
.about p{
    font-style: oblique;
    word-wrap: break-word;
    padding-top: 15px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #fff;
}
.right_side{
    width: 50%;
    min-height: 100vh;
    background-color: #f0f0f0;
    transition: transform 0.5 ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #f0f2f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
    flex-direction: column;
}

.form_wrapper h2{
    font-size: 40px;
    font-weight: bold;
}
.links{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.links .link{
    color: #00e6e6;
    text-decoration: none;
    font-size: 18px;
}
.links .link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.register_slide div:last-child{
    width: 100%;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column; /* Change layout to column when the screen size is smaller */
    }
    .left_side .about{
        margin-top: 20%;
    }
    .about h3{
        padding-bottom: 10px;
    }
    .about p{
        word-wrap: break-word;
        padding-top: 10%;
    }
    .left_side, .right_side {
        width: 100%; 
    }
}
@media (max-width:1440px) {
    .about p{
        padding-top: 8%;
    }
}