.container {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 50px;
}
.social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
a{
    cursor: pointer;
    color: black;
}
.copyright {
font-size: 0.9rem;
color: #555;
margin-top: 20px;
}
