.container {
    bottom: 0;
    background-color: #c0c0c0;
    width: 100%;
    right: 0;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
}
.social {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
a{
    cursor: pointer;
    color: black;
}
.copyright {
    font-size: 0.9rem;
    color: #555;
}
